<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - RaRaRational</title>
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/style.css" type="text/css" />
   <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz'       rel='stylesheet' type='text/css'>
</head>
<body>

    <div id="sidebar">
        <h2 id="main-title"><a href="/">RaRaRational</a></h2>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    <div id='content'>
        {{ content }}

    <div id='footer'>
        <p>Contact: North South East (cardinal direction)@rararational.com</p>
        <p><a href='https://github.com/rararational/rararational.com'>Website Source</a></p>
    </div>

    </div>

</body>
</html>
